


body {
  background-color: #336e90;
}
header {
  display: flex;
  background-color: #bf6c97;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  background-color: #bf6c97;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  padding: 5px 10px 5px 0%;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #bf6c97;
}
/* targeting all anchors of the nav  */
nav a {
  background-color: #bf6c97;
  margin-right: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
  text-decoration: underline;
  color: black;
}
/* text directions overides whats already been styled */

.cover {
  background-image: url(./assets/LoFi-background.jpeg);
  background-position: 80% 20%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 45vh;
  max-height: 100vh;
}
main {
  max-width: 90%;
  margin: 20px auto 45px auto;
}
.qoute {
  font-family: 'Playfair Display', serif;
}
.form-container {
  display: flex;
  justify-content: space-between;
}

.form-container .form-wrapper {
  flex-basis: 48%; /* Adjust the width as needed */
}

.journal {
  padding: 5px 20px;
}

.journal fieldset {
  margin: 20px 0;
}

.journal-entry-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  justify-content: right;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 7px;
}
.larger-textarea {
  height: 300px; /* Adjust the value as needed */
}

.form-submit {
  padding: 8px 15px;
  background-color:  #bf6c97;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.thoughts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}


.card {
  border: 1px solid #bf6c97;
  margin-bottom: 1rem;
}

.card .card-header {
  padding: 0.375rem;
  background-color: #2d3e50;
  color: #d9e9e8;
}

.card .card-body {
  padding: 0.375rem;
}

.card .card-footer {
  border-top: 1px solid #1a1a1a;
  padding: 0.375rem;
}

.card.card-rounded {
  border-radius: 0.3rem;
}

.card.card-rounded .card-header {
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}
/* -------------- Journal Cat -------------- */
.form-container {
  margin-left: 40px;
  margin-bottom: 50px;
}

.cat-container {
  display: flex;
  align-items: left;
  
}

.form-button:hover {
  background-color: #45a049;
}

.center-button {
  display: block;
  margin: 20px auto;
  padding: 8px 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cute-textbox {
  background-color: #bf6c97;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px;
  margin-top: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Comic Sans MS', cursive;
  font-size: 14px;
}

.signup {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  padding: 5px 20px;
}

.signin {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  padding: 5px 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.page-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0.5em;
  padding: 0 0 20px 0;
}
/* created margin line with this */
.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  border-right: 4px solid black;
  padding-right: 15px;
  font-size: 4vw;
  line-height: 1.1;
}
.page-section > div {
  flex: 0 0 75%;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


address a {
  display: inline-block;
  margin: 0 0.2rem 0.1rem;
  padding: 5px;
  font-size: 1.3rem;
  text-decoration: underline;
  color: black;
}
/* targets all anchors and gives it a hover */
a:hover {
  background-color: #a16b56;
  opacity: 0.5;
}


@media screen and (max-width: 992px) {
  /* Change the header color */
  header {
    background: #bf6c97;
  }
}


@media screen and (max-width: 768px) {
  address a {
    display: flex;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    flex-flow: column;
  }
  /* Change the header color */
  header {
    background: #bf6c97;
  }
  header h1 {
    background: #bf6c97;
  }
  header nav {
    background: #bf6c97;
  }
  header nav a {
    background: #bf6c97;
  }
}
@media screen and (max-width: 667px) {
  .page-section p {
    display: flex;
    margin: 0px 0 0 80px;
  }
}
@media screen and (max-width: 720px) {
  .page-section p {
    display: flex;
    margin: 0 20px 0 0;
  }
}