/* .form-container {
    display: flex;
    justify-content: space-between;
  }
  
  .form-container .form-wrapper {
    flex-basis: 48%; /* Adjust the width as needed */
  /* }

  .h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  .h3 {
    background-color: pink;
  } */
   